body{
    background: rgb(15,19,18);
    background: -moz-radial-gradient(circle, rgba(15,19,18,1) 30%, rgba(3,140,107,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(15,19,18,1) 30%, rgba(3,140,107,1) 100%);
    background: radial-gradient(circle, rgba(15,19,18,1) 30%, rgba(3,140,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f1312",endColorstr="#038c6b",GradientType=1);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}
canvas{
    border: 3px solid #ffffff;
    background: rgb(255, 255, 255);
}

/* .container{
    position: relative;
    margin: auto;
    height: 400px;
    width: 800px;
} */
